@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ff7474; }

.mainHeader {
  background-image: url(img/Green%20and%20Black%20Friday%20Sale%20Posternn%20.png);
  background-size: cover;
  background-position: center;
  height: 110vh;
  color: #fff; }

.btn-one {
  background-color: #ffcf17;
  border-radius: 70px;
  padding: 8px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #ffcf17; }
  .btn-one:hover {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #ffcf17;
    color: #fff; }

.btn-two {
  border-radius: 70px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase; }
  .btn-two:hover {
    text-decoration: none; }

.btn-three {
  font-size: .8rem;
  border: 1px solid #ffcf17;
  background-color: #ffcf17;
  color: #fff;
  border-radius: 70px;
  padding: 0 10px;
  text-transform: uppercase;
  position: relative;
  top: -40px; }
  .btn-three:hover {
    background-color: transparent;
    text-decoration: none;
    color: #ffcf17; }

header .logo {
  padding: 30px 30px; }
  header .logo i {
    color: #fff; }
    header .logo i:hover {
      cursor: pointer;
      color: #000; }
  header .logo .logo-brand {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
    header .logo .logo-brand:hover {
      text-decoration: none;
      cursor: pointer;
      color: #fff; }
    header .logo .logo-brand img {
      margin-right: 10px; }
    header .logo .logo-brand span {
      font-size: 2rem; }
header .navbar a {
  color: #fff;
  margin-left: 20px; }
  header .navbar a:hover {
    color: #000;
    cursor: pointer; }
header .headings .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 50px; }
  header .headings .col-md-6 h1 {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 4px 2px 3px #ff7474;
    line-height: 65px;
    text-align: left; }
  header .headings .col-md-6 p {
    padding: 10px;
    text-align: left; }
  header .headings .col-md-6 .btn-one {
    position: relative; }
  header .headings .col-md-6 .btn-two {
    position: relative; }
  header .headings .col-md-6 .imga {
    position: relative;
    bottom: 50px;
    left: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px #ff5094);
    filter: drop-shadow(4px 6px 10px #ff5094); }

.product {
  position: relative;
  top: -120px;
  -webkit-filter: drop-shadow(2px 2px 2px #ff7474); }
  .product .col-md-3:nth-child(1) {
    filter: drop-shadow(4px 6px 10px #30100c); }
  .product .col-md-3:nth-child(2) {
    filter: drop-shadow(4px 6px 10px #ffcf5e); }
  .product .col-md-3:nth-child(3) {
    filter: drop-shadow(4px 6px 10px #ff5094); }
  .product .col-md-3:nth-child(4) {
    filter: drop-shadow(4px 6px 10px #ff532d); }

.deals {
  position: relative;
  top: -20px; }
  .deals h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.3rem; }
  .deals p {
    font-size: .9rem;
    padding-top: 10px; }
  .deals .col-md-1 ul {
    border-radius: 30px;
    border: 1px solid transparent;
    background-color: #ff7474;
    text-decoration: none;
    color: #fff;
    width: 30px;
    margin-top: 30px; }
    .deals .col-md-1 ul li {
      line-height: .5px;
      text-align: center; }
      .deals .col-md-1 ul li h5 {
        font-weight: 600;
        font-size: 1rem;
        padding-top: 10px;
        line-height: .7px; }
      .deals .col-md-1 ul li p {
        font-weight: 100;
        font-size: .7rem; }
  .deals .col-md-2 img {
    position: relative;
    right: 40px; }
  .deals .col-md-3 {
    text-align: left;
    position: relative;
    left: 30px;
    padding: 40px 20px 20px 50px; }
    .deals .col-md-3 i {
      border: 1px solid #ffcf17;
      background-color: #ffcf17;
      color: #fff;
      border-radius: 70px;
      text-transform: uppercase; }
    .deals .col-md-3 h4 {
      color: #000;
      font-weight: 700; }
    .deals .col-md-3 p {
      padding-bottom: 20px;
      font-weight: 100;
      font-size: .6rem;
      position: relative;
      top: -15px;
      left: 5px;
      color: darkgray; }
    .deals .col-md-3 .lead {
      font-size: 1rem;
      font-weight: 600;
      position: relative;
      top: -45px;
      color: #000; }
  .deals .carousel-control-prev-icon {
    border: 1px solid #ff7474;
    background-color: #ff7474;
    border-radius: 70px; }
  .deals .carousel-control-next-icon {
    border: 1px solid #ff7474;
    background-color: #ff7474;
    border-radius: 70px; }

.istaknut {
  background-image: url(img/Webp.net-resizeimage.png);
  height: 100vh;
  background-position: center;
  background-size: contain;
  color: #fff; }
  .istaknut .col-md-7 {
    position: relative;
    bottom: -170px; }
    .istaknut .col-md-7 h2 {
      font-size: 2.5rem;
      font-weight: 800;
      text-transform: uppercase; }
    .istaknut .col-md-7 p {
      font-size: .7rem;
      padding-bottom: 30px; }
  .istaknut .col-md-5 img {
    height: 100%;
    width: 600px;
    position: relative;
    left: -27px;
    top: -60px; }
  .istaknut .col-md-4 {
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: -10px; }
    .istaknut .col-md-4 h5 {
      font-weight: 800; }
    .istaknut .col-md-4 h6 {
      font-size: 1rem;
      font-weight: 200; }
    .istaknut .col-md-4 p {
      font-size: .8rem;
      font-weight: 200; }

footer {
  display: flex;
  align-content: center;
  justify-content: flex-end; }

/*# sourceMappingURL=style.css.map */
